
<div id="welcome">
  Hello and Welcome to Billing on Rails.
</div>

<% form_for UserSession.new, :url => user_session_path, :html => { :id => "login" } do |f| %>

<div>
  <%= f.label :login %>:<br>
  <%= f.text_field :login %>
</div>

<div>
  <%= f.label :password %>:<br>
  <%= f.password_field :password %>
</div>

<div>
  <%= f.submit "login" %>
  Do not have an account yet? <%= link_to "Create one!", signup_path %> It's free!
</div>

<% end %>