

<% form_for User.new do |f| %>

<div>
  <%= f.label :login %>:<br>
  <%= f.text_field :login %>
</div>

<div>
  <%= f.label :password %>:<br>
  <%= f.password_field :password %>
</div>

<div>
  <%= f.label :password_confirmation %>:<br>
  <%= f.password_field :password_confirmation %>
</div>

<div>
  <%= f.label :email %>:<br>
  <%= f.text_field :email %>
</div>

<div>
  <%= f.submit "create" %>
</div>

<% end %>