    <div>
    <%= form.label :vorname %>:<br />
    <%= form.text_field :vorname, :size => 25 %>
    </div>

    <div>
    <%= form.label :name %>:<br />
    <%= form.text_field :name, :size => 25 %>
    </div>

    <div>
    <%= form.label :firma %>:<br />
    <%= form.text_field :firma, :size => 35 %>
    </div>

    <div>
    <%= form.label :email %>:<br />
    <%= form.text_field :email, :size => 75 %>
    </div>

    <div>
    <%= form.label :tel %>:<br />
    <%= form.text_field :tel, :size => 15 %>
    </div>

    <div>
    <%= form.label :strasse %>:<br />
    <%= form.text_field :strasse, :size => 40 %>
    </div>

    <div>
    <%= form.label :plz %>:<br />
    <%= form.text_field :plz, :size => 7 %>
    </div>

    <div>
    <%= form.label :ort %>:<br />
    <%= form.text_field :ort, :size => 30 %>
    </div>
