<div id="subnavigation">
  <ul>
    <%= render :partial => "navigation" %>
  </ul>
</div>

<h2>Add a Client</h2>

<div class="form">
  <%= error_messages_for :client -%>
  
  <% form_for :client, :url => { :action => "create" } do |form| %>
    <fieldset>
      <legend>Add a New Client</legend>

      <%= render :partial => 'form', :object => form %>
      
    <%= submit_tag "create" %>
    <%= link_to "cancel", :action => "index" %>
    
  </fieldset>
  <% end %>
</div>

