<% content_for :head do %>
    <%= stylesheet_link_tag "client", :media => "all" %>
<% end %>

<div id="subnavigation">
  <ul>
    <li><%= link_to "edit client", edit_client_path(@client.id) %></li>
    <%= render :partial => "navigation" %>
  </ul>
</div>

<%= flash_notice %>

<h2><%= h @client.vorname %> <%= h @client.name %></h2>

<div id="container">
  <div id="adress">
    <p>
      <%= @client.firma %><br />
      <%= @client.strasse %></br />
      <%= @client.plz %> <%= @client.ort %>
    </p>
  </div>

  <div id="contact">
    <p>
      Telefon: <%= @client.tel %><br />
      E-Mail: <%= mail_to @client.email %>
    </p>
  </div>

  <p style="clear:left;"></p>

  <% @client.bills.group_by { |b| b.state }.sort.each do |state,bills| %>
    <% unless state == 10 %>
      <div class="open_bills">
        <h2><%= pretty_state(state) %> Bills</h2>
        <%= render :partial => "bills/bills_table", :object => bills %>
      </div>
    <% end %>
  <% end %>

</div>
