<% content_for :head do %>
    <%= stylesheet_link_tag "company", :media => "all" %>
<% end %>

<% if @company.company_logo %>
  <div>
    <%= image_tag company_logo_path(@company.company_logo), :alt => "Company Logo", :class => "company_logo" %>
  </div>
<% end %>
<h2><%= h @company.name %></h2>
<ul>
  <li><%= link_to "Update Company Data", edit_company_path(@company) %></li>
  <% if @company.company_logo %>
    <li><%= link_to "Update Company Logo", edit_company_logo_path(@company.company_logo) %></li>
  <% else %>
    <li><%= link_to "Upload Company Logo", new_company_logo_path %></li>
  <% end %>
</ul>

<% unless @company.company_logo %>
  <% form_for CompanyLogo.new, :html => {:multipart => true} do |f| %>
    <%= f.label :uploaded_picture %>
    <%= f.file_field :uploaded_picture %>
    <%= f.submit "add logo" %>
  <% end %>
<% end %>

<div id="adress" class="summary">
  <h3>Adress</h3>
  <address>
    <%= h @company.name %><br>
    <%= h @company.owner %><br>
    <%= h @company.street %><br>
    <%= h @company.plz %>&nbsp;<%= h @company.city %>
  </address>
</div>

<div id="contact" class="summary">
<h3>Contact</h3>
  <%= image_tag "icons/telephone.png", :alt => "Telephone:" %> <%= h @company.tel %><br>
  <%= image_tag "icons/email.png", :alt => "E-Mail:" %> <%= h @company.email %><br>
  <%= image_tag "icons/world.png", :alt => "Internet:" %> <%= h @company.web %>
</div>

<div id="bank" class="summary">
<h3>Bank Information</h3>
  Account No: <%= h @company.account_no %><br>
  Bank Code: <%= h @company.bank_code %><br>
  Bank: <%= h @company.bank %>
</div>

<div id="tax" class="summary">
<h3>Tax Info</h3>
  Tax No: <%= h @company.tax_no %><br>
  Tax Type: <%= h @company.billed_date_relevant %>
</div>
