<% content_for :head do %>
    <%= stylesheet_link_tag "company", :media => "all" %>
<% end %>

<%= company_logo %>

<div id="company_menu" class="summary">
  <h2>Your Company</h2>
  <p><%= @company.name %></p>
  <ul>
    <li><%= link_to "Update Company Data", edit_company_path(@company) %></li>
    <%= update_company_logo_link %>
  </ul>
</div>

<div id="adress" class="summary">
  <h3>Adress</h3>
  <address>
    <%= h @company.name %><br>
    <%= h @company.owner %><br>
    <%= h @company.street %><br>
    <%= h @company.plz %>&nbsp;<%= h @company.city %>
  </address>
</div>

<div id="contact" class="summary">
<h3>Contact</h3>
  <%= image_tag "icons/telephone.png", :alt => "Telephone:" %> <%= h @company.tel %><br>
  <%= image_tag "icons/email.png", :alt => "E-Mail:" %> <%= h @company.email %><br>
  <%= image_tag "icons/world.png", :alt => "Internet:" %> <%= h @company.web %>
</div>

<div id="bank" class="summary">
<h3>Bank Information</h3>
  Account No: <%= h @company.account_no %><br>
  Bank Code: <%= h @company.bank_code %><br>
  Bank: <%= h @company.bank %>
</div>

<div id="tax" class="summary">
<h3>Tax Info</h3>
  Tax No: <%= h @company.tax_no %><br>
  Tax Type: <%= h @company.billed_date_relevant %>
</div>
