<div id="subnavigation">
  <ul>
    <%= render :partial => "navigation" %>
  </ul>
</div>

<h2>Edit an Expenditure</h2>

<div class="form">
  <%= error_messages_for :expenditure -%>


<% form_for :expenditure, :url => { :action => "update", :id => @expenditure.id } do |form| %>
  <fieldset>
    <legend>Edit an existing Expenditure</legend>

    <%= render :partial => 'form', :object => form %>
    
    <%= submit_tag "save" %>
    <%= link_to "cancel", :action => "index" %>
  </fieldset>
<% end %>
</div>