<% content_for :subnavi do %>
    <%= render :partial => "navigation" %>
<% end %>

<h2>Expenditures</h2>

<div class="find">
  <% form_tag expenditures_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :size => 35 %>
    <%= submit_tag "Find Expenditures", :name => nil %><br />
  <% end %>
</div>

<% @expenditure_states.sort.each do |state,expenditures| %>
  <div class="summary expenditures">
    <h3><%= pretty_state(state) %> Expenditures</h3>
    <%= render :partial => "expenditures_table", :object => expenditures %>
  </div>
<% end %>