<% content_for :subnavi do %>
    <%= render :partial =>"navigation" %>
<% end %>

<h2>Add an Expenditure</h2>

<div class="form">
  <%= error_messages_for :expenditure -%>


<% form_for :expenditure, :url => expenditures_path do |form| %>
  <fieldset>
    <legend>Create a New Expenditure</legend>

    <%= render :partial => 'form', :object => form %>
  
    <%= submit_tag "create" %>
    <%= link_to "cancel", :action => "index" %>
  </fieldset>
<% end %>
</div>