<% content_for :head do %>
    <%= stylesheet_link_tag "expenditure", :media => "all" %>
<% end %>

<div id="subnavigation">
  <ul>
    <li><%= link_to "edit", :action => 'edit', :id => @expenditure.id %></li>
    <li><%= link_to "destroy", :action => 'destroy', :id => @expenditure.id %></li>
    <%= render :partial => "navigation" %>
  </ul>
</div>

<%= flash_notice %>

<h2><%= h @expenditure.name %></h2>

<!-- TODO: fix this! -->
<ul id="info" class="summary">
  <li>Expenditure ID: <%= h @expenditure.bill_id %></li>
  <li>Type: <%= h @expenditure.expenditure_type.title %></li>
  <li>
    Seller:<%= h @expenditure.seller %>
    <span style="clear:left;"></span>
  </li>
</ul>

<div id="billed_date" class="summary">
  Billed Date:<br />
  <span class="date"><%= (pretty_date @expenditure.billed_date).strftime("%d. %B %Y") %></span>
</div>

<div id="paid_date" class="summary">
  Paid Date:<br />
  <span id="paid_date">
    <% if @expenditure.state < 3 %>
      This Expenditure is not paid yet!
      <%= render :partial => 'paid_form', :object => @expenditure %>
    <%  else %>
        <span class="date"><%= (pretty_date @expenditure.paid_date).strftime("%d. %B %Y") %></span>
    <% end %>
  </span>
</div>

<div id="net_total" class="summary">
  Net Total:<br />
  <span class="num"><%= number_to_euro @expenditure.net_total %></span>
</div>

<div id="tax" class="summary">
  Sales Tax:<br />
  <span class="num"><%= number_to_euro @expenditure.sales_total %></span>
</div>

<div id="gross_total" class="summary">
  Gross Total:<br />
  <span class="num"><%= number_to_euro @expenditure.gross_total %></span>
</div>
