<% form_for UserSession.new, :url => user_session_path do |f| %>

  <%= error_messages_for :user_session  %>

  <div>
    <%= f.label :login %>:<br>
    <%= f.text_field :login %>
  </div>

  <div>
    <%= f.label :password %>:<br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "login" %>
    Do not have an account yet? <%= link_to "Create one!", signup_path %> It's free!
  </div>

<% end %>