<html>
  <head>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%= stylesheet_link_tag "screen", :media => "screen" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= javascript_include_tag :defaults %>
    <%= yield :head %>
    <title><%= yield(:title) || "Billing On Rails" %></title>
  </head>
  <body>
    <h1>
      Billing on Rails
      <div id="subtitle">A simple Ruby On Rails Billing Manager</div>
    </h1>
    <div id="navigation">
      <ul>
        <li><%= link_to "Balance", balance_path(:year => Time.now.year) %></li>
        <li><%= link_to "Bills", bills_path %></li>
        <li><%= link_to "Clients", clients_path %></li>
        <li><%= link_to "Company", :controller => 'companies', :action => 'edit' %></li>
        <li><%= link_to "Expenditures", :controller => 'expenditures' %></li>
      </ul>
    <span class="clear">&nbsp;</span>
    </div>

    <div id="wrapper">
      <div id="content">
        <%= yield :layout %>
      </div>
    </div>

    <div id="footer">
      Billing on Rails Version 0.5 by <a href="http://blog.fly-soft.de" target="_blank">Florian Pester</a>
    </div>

  </body>
</html>